<template>
    <div class="app">
        <div class="app-filters slds-form">
            <lightning-input label="Start Date" type="date" value="2020-01-01" onchange={handleStartDateChanged}></lightning-input>
            <lightning-input label="End Date" type="date" value="2020-12-31" onchange={handleEndDateChanged}></lightning-input>
        </div>
        <div class="app-report">
            <lightning-datatable
                key-field="accountName"
                data={dataView}
                columns={columns}
            ></lightning-datatable>
        </div>
    </div>
</template>